.card{
    width: 357px;
    height: 160px;
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: -2px 4px 5px 0px rgba(203,198,209,1);
    -moz-box-shadow: -2px 4px 5px 0px rgba(203,198,209,1);
    box-shadow: -2px 4px 5px 0px rgba(203,198,209,1);
}
.card-text{
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
}
.card-subtitle{
    text-align: center;
    margin-top: -25px !important;
    font-size: 14px;
}
.card-title{
    margin: -30px;
    color: grey
}
.card-container{
    display: flex;
}
.link{
    color:black;
    font-weight: bold;
    margin-right: 20px;
}
.link:active, .link:hover, .link:focus {
    color:#6E0897;
}
.iframe-div{
    display: flex;
    justify-content: center;
}